@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --yellow: #ffd900;
    --pink: #dd71c6;
    --light-blue: #73c3f4;
    --dark-gray: #333333;
    --light-gray: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Sans-serif;
    font-size: 1rem;
    color: var(--dark-gray);

}

/* INTRO */
.intro {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.intro .navigator {
    height: 7vh;
}

.logo {
    position: absolute;
    top: 10px;
    left: 5px;
    transform: scale(0.65);
}

#nav-btn {
    height: 55px;
    width: 50px;
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 5%;
    z-index: 100;
    cursor: pointer;
}

#nav-btn:checked+span {
    background: none;
}

#nav-btn:checked+span::after,
#nav-btn:checked+span::before {
    background-color: var(--pink);
    transition-delay: 0s, 0.3s;
}

#nav-btn:checked+span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

#nav-btn:checked+span::before {
    top: 0;
    transform: rotate(45deg);
}

#nav-btn:checked~nav ul {
    transform: translate(-50%, -50%);
}

.navigator span {
    background-color: var(--pink);
    display: block;
    height: 2px;
    width: 25px;
    position: absolute;
    top: 40px;
    right: 8%;
    z-index: 99;
    cursor: pointer;
}

.navigator span::after,
.navigator span::before {
    background-color: var(--pink);
    content: "";
    display: block;
    height: 2px;
    width: 25px;
    position: absolute;
    left: 0;
    transition-delay: 0.3s, 0s;
    transition-duration: 0.3s, 0.3s;
}

.navigator span::after {
    bottom: -8px;
    transition-property: bottom, transform;
}

.navigator span::before {
    top: -8px;
    transition-property: top, transform;
}

.navigator .navChecked {
    position: fixed;
    left: 0px;
    visibility: 1;
    opacity: 100;
    z-index: 98;
    transition: all 0.5s ease-in-out;
}

.navigator nav {
    background: black none repeat scroll 0% 0%;
    height: 100vh;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    visibility: 0;
    z-index: -1;
    transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
    transition: all 0.5s ease-in-out;
}

.navigator nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 1s ease-in-out;
    moz-transition: all 1s ease-in-out;
    o-transition: all 1s ease-in-out;
    webkit-transition: all 1s ease-in-out;
}

.navigator nav ul li {
    list-style: none;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.navigator nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

/* INTRO CONTENT */
.intro-content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.intro-content h1 {
    font-family: 'Playfair Display', Serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1rem;
}

.intro-content p {
    font-size: 0.85rem;
    margin-bottom: 2rem;
}

.intro-content .text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.intro-content span {
    color: var(--pink);
    font-weight: 600;
}

.counter-container {
    margin-bottom: 2rem;
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid rgba(244, 238, 238, 0.18);
    padding: 2rem 1rem;
}

.counter-container h3 {
    font-size: 0.85rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
}

.counter-container ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.counter-container ul li {
    list-style: none;
    padding: 0.35rem;
    text-align: center;
    color: var(--light-blue);
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 1.25px;
}

.counter-container ul li span {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    color: var(--dark-gray);
}

.intro-content button {
    background-color: var(--pink);
    color: white;
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.5px;
    border: none;
    cursor: pointer;
}

.yellow-bg {
    position: absolute;
    top: 0;
    left: 50%;
    min-height: 100vh;
    width: 100%;
    background-color: var(--yellow);
    z-index: -1;
    border-radius: 50px 0 0 0;
}


/* FAQ */
.faq {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.circle {
    position: absolute;
    right: -20%;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border: 15px solid #f9f9f9;
}

.faq button {
    display: none;
}

.faq .container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.faq h1 {
    font-family: 'Playfair Display', Serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 1rem 2rem 3rem 0rem;
}

.faq-content .question {
    position: relative;
    font-size: 0.85rem;
    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.quest-title {
    cursor: pointer;
    padding-right: 1.2rem;
    line-height: 1.5;
}

.quest-title::after {
    content: url('/assets/icon-arrow.svg');
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 1s;
    padding-top: 0;
}

.rotate::after {
    content: url('/assets/icon-arrow.svg');
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 1s;
    transform: rotateX(180deg);
}

.quest-cont {
    opacity: 0;
    height: 0px;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: contents;
}

.visible {
    margin-top: 0.85rem;
    opacity: 1;
    height: auto;
}


/* TABLET */
@media (min-width: 480px) {

    /* INTRO */

    .intro {
        min-height: 80vh;
    }

    .logo {
        font-size: 2rem;
        left: 4rem;
    }

    #nav-btn {
        height: 65px;
    }

    .navigator span {
        height: 3px;
        width: 30px;
        top: 45px;
    }

    .navigator span::after,
    .navigator span::before {
        height: 2px;
        width: 30px;
    }

    .navigator span::after {
        bottom: -10px;
    }

    .navigator span::before {
        top: -10px;
    }

    .intro-content h1 {
        width: 60%;
        font-size: 2.5rem;
        padding-left: 2rem;
        margin-bottom: 2.5rem;
        text-align: start;
        align-self: self-start;
    }

    .intro-content p {
        font-size: 1.1rem;
        margin-bottom: 2.5rem;
    }

    .intro-content .text {
        width: 60%;
        padding-left: 2rem;
        text-align: start;
        align-self: self-start;
    }

    .counter-container {
        padding: 2rem;
    }

    .counter-container h3 {
        font-size: 1.1rem;
        text-align: center;
    }

    .counter-container ul li {
        padding: 0.85rem;
        font-size: 0.85rem;
        font-weight: 500;
        letter-spacing: 1.35px;
    }

    .counter-container ul li span {
        display: block;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .yellow-bg {
        top: 10%;
    }

    /* FAQ */
    .circle {
        display: none;
    }

    .faq button {
        display: block;
        margin-top: 2rem;
        background-color: var(--pink);
        color: white;
        padding: 1rem;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 1.5px;
        border: none;
        cursor: pointer;
    }

    .faq .container {
        margin-top: 1rem;
        align-items: center;
    }

    .faq h1 {
        font-size: 2.5rem;
        width: 50%;
        margin-bottom: 3.5rem;
    }

    .faq-content {
        width: 60%;
    }

    .faq-content .question {
        font-size: 1rem;
    }

    .quest-title {
        padding-right: 1.5rem;
    }

    .quest-title::after {
        transform: scale(1.5);
    }

    .rotate::after {
        transform: rotateX(180deg) scale(1.5);
    }
}


/* DESKTOP */
@media (min-width: 1024px) {

    /* INTRO */
    .intro {
        min-height: 100vh;
    }

    .logo {
        /* left: 12rem; */
        left: 12vw;
    }

    .navigator #nav-btn,
    .navigator span {
        display: none;
    }

    .navigator nav {
        background: none;
        height: auto;
        width: auto;
        opacity: 1;
        position: relative;
        visibility: visible;
        z-index: 100;
    }

    .navigator nav ul {
        display: flex;
        top: 40px;
        left: 25vw;
        transform: translate(0%, 0);

    }

    .navigator nav ul li {
        padding-left: 2rem;
    }

    .navigator nav ul li a {
        color: var(--dark-gray);
        font-size: 1rem;
        font-weight: 400;
    }

    .intro-content .container {
        padding-top: 10rem;
        /* padding-left: 10rem; */
        padding-left: 10vw;
    }

    .intro-content h1 {
        font-size: 2.8rem;
        width: 30%;
    }

    .intro-content .text {
        font-size: 1.15rem;
        width: 30%;
    }

    .dn-lg {
        display: none;
    }

    .intro-content button {
        align-self: self-start;
        margin-left: 2rem;
    }

    .counter-container {
        position: absolute;
        top: 20%;
        right: 25%;
        padding: 3rem;
    }

    #countdown {
        margin-top: 2.5rem;
    }

    .counter-container ul li {
        letter-spacing: 5px;
    }

    .counter-container ul li span {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .yellow-bg {
        top: 0;
        left: 65%;
        border-radius: 60px 0 0 0;
    }


    /* FAQ */
    .faq-content {
        width: 50%;
    }

    .quest-title::after {
        transform: scale(2);
    }

    .rotate::after {
        transform: rotateX(180deg) scale(2);
    }


}

/* XXL */
@media (min-width: 1224px) {}